@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.container {
  background-color: hsl(216, 50%, 16%);
  display: flex;
  width: 300px;
  border-radius: 0.6rem;
  height: 487px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tag {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}

.tag:active{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.desc {
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 6.6rem;
}

.eth {
  display: flex;
  gap: 0.4rem;
  color: hsl(178, 100%, 50%);
  font-size: 0.87rem;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  color: hsl(215, 51%, 70%);
  opacity: 0.7;
  font-size: 0.87rem;
}

.img {
  width: 270px;
  border-radius: 0.4rem;
}


.par {
  color: hsl(215, 51%, 70%);
  opacity: 0.7;
}

.avatar {
  width: 40px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
}

.end {
  color: hsl(215, 51%, 70%);
  opacity: 0.7;
  display: flex;
}

.name {
  color: white;
}

.name:active{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
}
